{
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "no-console": "off",
    "vue/multi-word-component-names": "off",
    "semi-style": 1,
    "prettier/prettier": ["error", { "semi": true, "endOfLine": "auto" }],
    "no-unexpected-multiline": "off"
  }
}
