.filter-container {

  @media (min-width: 1280px) { 
    @apply self-start sticky bg-transparent p-0 border-t-0;
    top: 20px;
  }
}

.icon-container {
  @apply transition-all duration-200 ease-in-out h-8;
  width: 25%;
  filter: grayscale(1);

  @media (min-width: 620px) { 
    width: 10%;
  }

  &.active {
    filter: grayscale(0);
    transform: scale(1.2);
  }
}
