.filter-container {
  @apply fixed bottom-20 bg-white left-0 right-0 border-t border-primary;

  @media (min-width: 1280px) { 
    @apply self-start sticky bg-transparent p-0 border-t-0;
    top: 20px;
  }
}

.icon-container {
  @apply transition-all duration-200 ease-in-out h-8;
  width: 10%;
  filter: grayscale(1);

  &.active {
    filter: grayscale(0);
    transform: scale(1.2);
  }
}
