.modal__inner {
  @apply p-8 relative overflow-hidden z-10 w-auto;
}

@media (min-width: 1280px) {
  .modal__inner {
    @apply w-[36rem];
  }
}


.modal__badge {
  position: absolute;
  width: 500px;
  height: 500px;
  opacity: 0.1;
  left: -20%;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}